<h1>Add Movie</h1>

<form action="/create_movie/">
  <div>
    <div>
      <label for="title">
        Title
      </label>
      <div>
        <input type="text" id="title" name="title" placeholder="Movie Title">
      </div>
    </div>
    <div>
      <label for="year">
        Year
      </label>
      <div>
        <input type="text" id="year" name="year" placeholder="Movie Year">
      </div>
    </div>
    <div>
      <label for="duration">
        Duration
      </label>
      <div>
        <input type="text" id="duration" name="duration" placeholder="Duration">
      </div>
    </div>
    <div>
      <label for="description">
        Description
      </label>
      <div>
        <textarea id="description" name="description" placeholder="description" rows="3">
        </textarea>
      </div>
    </div>
    <div>
      <label for="image_url">
        Image url
      </label>
      <div>
        <input type="text" id="image_url" name="image_url" placeholder="Image url">
      </div>
    </div>
    <div>
      <div>
        <input type="submit" value="Create Movie">
      </div>
    </div>
</form>
