<!DOCTYPE html>
<html>
<head>
  <title>MustSeeMoviesGoldenSeven</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<tr>
<td><a href="/movies">Movies</a></td>
<td><a href="/directors">Directors</a></td>
<td><a href="/actors">Actors</a></td>
<%= yield %>

</body>
</html>
